@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 991px) {
    #navbarSupportedContent {
        padding: 15px 0 25px 0;
    }
    .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
    }
}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}